#
####### requirements.txt #######
#
###### Requirements without Version Specifiers ######
#
bert-tensorflow
keras-bert
sentencepiece
mecab
libmecab-dev
mecab-ipadic-utf8
mecab-python3
unidic-lite
pysimplegui
#
###### Requirements with Version Specifiers ######
#
tensorflow >= 2.2
keras >= 2.4.3
#
