
#
####### requirements.txt #######
#
###### Requirements without Version Specifiers ######
#
tensorflow-addons
bert-tensorflow
keras-bert
sentencepiece
mecab-python3
unidic-lite
pysimplegui
#
###### Requirements with Version Specifiers ######
#
tensorflow >= 2.2
keras >= 2.4.3
#
